<div class="editar-criar-base-dados-body">
  <div class="title-content">
    <span *ngIf="data.edicao">Editar Recurso</span>
    <span *ngIf="!data.edicao">Adicionar Recurso</span>
  </div>

  <form [formGroup]="form">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Descricao</mat-label>
        <input matInput formControlName="descricao">
        <mat-error *ngIf="form.get('descricao').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Origem</mat-label>
        <input matInput formControlName="origem">
        <mat-error *ngIf="form.get('origem').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Unidade</mat-label>
        <input matInput formControlName="unidade">
        <mat-error *ngIf="form.get('unidade').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Quantidade</mat-label>
        <input matInput formControlName="quantidade">
        <mat-error *ngIf="form.get('quantidade').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>
    </div>
    
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Valor sem Bdi</mat-label>
        <input matInput formControlName="valorSemBdi">
        <mat-error *ngIf="form.get('valorSemBdi').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Valor com Bdi</mat-label>
        <input matInput formControlName="valorComBdi">
        <mat-error *ngIf="form.get('valorComBdi').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input matInput formControlName="valor">
        <mat-error *ngIf="form.get('valor').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>
    </div>
  </form>

  <div class="group-buttons">
    <button mat-button (click)="this.dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary">Salvar</button>
  </div>
</div>
