<div class="editar-criar-grupos-permissoes-body">
  <div class="title-content">
    <span *ngIf="data.edicao">Editar Grupo e Permissões</span>
    <span *ngIf="!data.edicao">Adicionar Grupos e Permissões</span>
  </div>

  <form [formGroup]="form">
    <div class="nomeGroupContent">
      <mat-form-field appearance="outline">
        <mat-label>Nome do Grupo</mat-label>
        <input matInput formControlName="nome"/>
        <mat-error *ngIf="form.get('nome').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>
    </div>
  
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Permissões</mat-panel-title>
      </mat-expansion-panel-header>
      
      <div class="permissoes-container" formArrayName="permissoes">
        <div *ngFor="let permissaoCtrl of permissoesFormArray.controls; let i = index" [formGroupName]="i">
          <mat-checkbox formControlName="selecionado">
            {{ permissaoCtrl.value.nome }}
          </mat-checkbox>
        </div>
      </div>
    </mat-expansion-panel>
  </form>

  <div class="group-buttons">
    <button mat-button (click)="this.dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="saveForm()">Salvar</button>
  </div>
</div>
