<h1 mat-dialog-title style="font-weight: bold; font-size: 20px; text-align: center;">Medir projetos</h1>
<mat-dialog-content class="mat-typography">
  <div style="margin-top: 20px;">
    <div class="cards-group" style="width: 600px;" [style.display]="!isInserirNovoProjeto && !isNovaMedicao ? 'block' : 'none'">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card style="width: 55%;" (click)="novaMedicao()">
          <mat-card-header>
            <mat-icon>description</mat-icon>
          </mat-card-header>
          <mat-card-content>Criar Medição</mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card style="width: 55%;" (click)="inserirProjetoEmMedicao()">
          <mat-card-header>
            <mat-icon>build</mat-icon>
          </mat-card-header>
          <mat-card-content>Vincular Projetos</mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    </div>
    <div class="cadastrarMedicao" [style.display]="isNovaMedicao ? 'block' : 'none'">
      <mat-form-field>
        <mat-label>Nome Medição</mat-label>
        <input matInput/>
      </mat-form-field>

      <mat-form-field style="margin-left: 5px;">
        <mat-label>Selecione o projeto</mat-label>
          <mat-select disableRipple>
            <mat-option value="1">Projeto 1</mat-option>
            <mat-option value="2">Projeto 2</mat-option>
          </mat-select>
      </mat-form-field>

    </div>

    <div class="cadastrarProjetosEmMedicao" [style.display]="isInserirNovoProjeto ? 'block' : 'none'">
      <mat-form-field style="margin-left: 5px;">
        <mat-label>Selecione a medição</mat-label>
          <mat-select disableRipple>
            <mat-option value="1">Medição 1</mat-option>
            <mat-option value="2">Medição 2</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-left: 5px;">
        <mat-label>Selecione o projeto</mat-label>
          <mat-select disableRipple>
            <mat-option value="1">Projeto 1</mat-option>
            <mat-option value="2">Projeto 2</mat-option>
          </mat-select>
      </mat-form-field>

    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions >
  <button mat-button cdkFocusInitial style="border: solid 1px; border-color: black;"  [style.display]="isInserirNovoProjeto || isNovaMedicao ? 'block' : 'none'" (click)="voltarTelaCriarMedicaoOuProjeto()">Voltar</button>
  <button mat-button cdkFocusInitial style="border: solid 1px; border-color: black;" [style.display]="isInserirNovoProjeto || isNovaMedicao ? 'block' : 'none'">Salvar</button>
</mat-dialog-actions>
