<h1 mat-dialog-title style="font-weight: bold; font-size: 20px; text-align: center;">Nova Medição</h1>
<mat-dialog-content class="mat-typography">
  <div style="margin-top: 20px;">
    <div class="cadastrarMedicao">
      <mat-form-field>
        <mat-label>Numero Medição</mat-label>
        <input [(ngModel)]="nomeMedicao" type="number" [disabled]="disabledNomeMedicao" matInput/>
      </mat-form-field>

      <mat-form-field style="margin-left: 8px;">
        <mat-label>Selecione o projeto</mat-label>
        <mat-select disableRipple [(ngModel)]="projetoSelecionado">
          <mat-option *ngFor="let projeto of listaProjetos" [value]="projeto.idProjeto" >{{projeto.nomeProjeto}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field style="width: 100%;">
        <mat-label>Secretaria</mat-label>
        <input [(ngModel)]="secretaria" type="text" matInput/>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions >
  <button mat-button style="border: solid 1px; border-color: black;"  (click)="voltarTelaCriarMedicaoOuProjeto()">Voltar</button>
  <button mat-button style="border: solid 1px; border-color: black;"  (click)="criarNovaMedicao()">Salvar</button>
</mat-dialog-actions>

<app-loading *ngIf="this.isLoading"></app-loading>