<h1 mat-dialog-title style="font-weight: bold; font-size: 20px; text-align: center;">Nova Medição</h1>
<mat-dialog-content class="mat-typography">
  <div style="margin-top: 20px;">
    <div class="cadastrarMedicao">
      <mat-form-field>
        <mat-label>Numero Medição</mat-label>
        <input [(ngModel)]="nomeMedicao" type="number" [disabled]="disabledNomeMedicao" matInput/>
      </mat-form-field>

      <mat-form-field style="margin-left: 8px;">
        <mat-label>Selecione o projeto</mat-label>
        <input matInput [matAutocomplete]="autoProjeto" [(ngModel)]="selectedProjeto" (ngModelChange)="filtrarProjeto($event)">
        
        <mat-autocomplete  #autoProjeto="matAutocomplete" (optionSelected)="onSelectionProjetoChange($event.option.value)">
          <mat-option *ngFor="let projeto of listaFiltrada" [value]="projeto.nomeProjeto">
            {{ projeto.nomeProjeto }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <br>
      
      <mat-form-field style="width: 49%;">
        <mat-label>Secretaria</mat-label>
        <input [(ngModel)]="secretaria" type="text" [disabled]="data.associarMedicao" matInput/>
      </mat-form-field>

      <mat-form-field style="width: 49%;margin-left: 8px;">
        <mat-label>Período Medição</mat-label>
        <input [(ngModel)]="projetoMedicao" type="text" [disabled]="data.associarMedicao" matInput/>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions >
  <button mat-button style="border: solid 1px; border-color: black;"  (click)="voltarTelaCriarMedicaoOuProjeto()">Voltar</button>
  <button mat-button style="border: solid 1px; border-color: black;"  (click)="criarNovaMedicao()">Salvar</button>
</mat-dialog-actions>

<app-loading *ngIf="this.isLoading"></app-loading>