@use '@angular/material' as mat;

@include mat.core();

.toast-error {
  background-color: #cb5f55 !important;
  text-align: center !important;
  font-weight: 500 !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: transparent !important;
}

.toast-success {
  background-color: #54a254 !important;
  text-align: center !important;
  font-weight: 500 !important;
}

.toast-warning {
  background-color: #FFC107 !important;
  text-align: center !important;
  font-weight: 500 !important;
}

.toast-info {
  text-align: center !important;
  font-weight: 500 !important;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

$primary-color: mat.define-palette(mat.$grey-palette, 900);
$accent-color: mat.define-palette(mat.$red-palette);
$warn-color: mat.define-palette(mat.$red-palette);
$text-color-black: #000000;

$custom-theme: mat.define-light-theme((
  color: (
    primary: $primary-color,
    accent: $accent-color,
    warn: $warn-color,
  ),
  background: (
    default: $primary-color,
    card: $primary-color,
    toolbar: $primary-color,
  ),
));

body {
  margin: 0;
}

@include mat.all-component-themes($custom-theme);
