<div class="contratos-body">
  <mat-card class="card-content">
      <mat-card-header><span>Medições</span></mat-card-header>
      <mat-card-content>  
        <div >
          <h3>Informe um contrato para exibir as medições</h3>          
            <mat-form-field >
              <mat-label>Selecione o contrato</mat-label>
              <mat-select disableRipple>
                <mat-option value="1">Contrato 1</mat-option>
                <mat-option value="2">Contrato 2</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-button style="background-color:royalblue; color: white; margin-left: 10px;margin-top: -10px; "  (click)="buscar()">Buscar</button>
            <button mat-button style="background-color:white; color: black; margin-left: 10px;margin-top: -10px; "  (click)="limpar()">Limpar</button>
        </div>    
        <div class="mat-elevation-z8" [style.display]="exibir ? 'block' : 'none'">
          <div class="example-action-buttons">
            <button mat-button style="background-color:royalblue; color: white; margin-left: 10px;margin-top: 8px; "  (click)="accordion.openAll()">Exibir todos</button>
            <button mat-button style="background-color:royalblue; color: white; margin-left: 10px;margin-top: 8px; "  (click)="accordion.closeAll()">Ocultar todos</button>
            <button mat-button mat-stroked-button style="background-color:royalblue; color: white; margin-left: 10px;margin-top: 8px;" (click)="openDialog()">
              <span>Adicionar Medição
              </span>
                <mat-icon>add</mat-icon>
            </button>
          </div>
          <mat-accordion class="example-headers-align" multi>           
          
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Medição 1 </mat-panel-title>
                <mat-panel-description>
                  Ao expandir, devem ser exibidos todos os projetos medidos na "Medição 1"
                </mat-panel-description>
              </mat-expansion-panel-header>
                    <div class="rounded-shadow-div" style="font-size: 15px;">
                      <h3> Resumo Medição 1</h3>
                    </div>            
                    <div class="list-container">                
                      <div>
                        <mat-list>
                          <mat-list-item>
                            <span matListItemTitle>Engenheiro Consultor </span>
                            <span matListItemLine>30</span>
                          </mat-list-item>
                          <mat-list-item>
                            <span matListItemTitle>Engenheiro/Arquiteto Consultor</span>
                            <span>15</span>
                          </mat-list-item>
                          <mat-list-item>
                            <span matListItemTitle>Engenheiro/Arquiteto Junior</span>
                            <span>30</span>
                          </mat-list-item>
                        </mat-list>
                      </div>
                      <div>
                        <mat-list>
                          <mat-list-item>
                            <span matListItemTitle>Desenhista Projetista</span>
                            <span matListItemLine>55</span>
                          </mat-list-item>
                          <mat-list-item>
                            <span matListItemTitle>Desenhista Cadista</span>
                            <span>24</span>
                          </mat-list-item>
                          <mat-list-item>
                            <span matListItemTitle>Desenhista Copista</span>
                            <span>39</span>
                          </mat-list-item>
                        </mat-list>
                      </div>
                      <div>
                        <mat-list>
                          <mat-list-item>
                            <span matListItemTitle>Auxiliar Administrativo Sênior</span>
                            <span matListItemLine>45</span>
                          </mat-list-item>
                          <mat-list-item>
                            <span matListItemTitle>Auxiliar Administrativo Intermediário</span>
                            <span>47</span>
                          </mat-list-item>
                          <mat-list-item>
                            <span matListItemTitle>Auxiliar Administrativo Junior</span>
                            <span>13</span>
                          </mat-list-item>
                        </mat-list>
                      </div>
                      <div>
                        <mat-list>
                          <mat-list-item>
                            <span matListItemTitle>Técnico Senior</span>
                            <span matListItemLine>20</span>
                          </mat-list-item>
                          <mat-list-item>
                            <span matListItemTitle>Técnico Intermediário</span>
                            <span>37</span>
                          </mat-list-item>
                          <mat-list-item>
                            <span matListItemTitle>Técnico Junior</span>
                            <span>21</span>
                          </mat-list-item>
                        </mat-list>
                      </div>
                      <div>
                        <mat-list>
                          <mat-list-item>
                            <span matListItemTitle>Projeto Eletrico</span>
                            <span matListItemLine>0</span>
                          </mat-list-item>
                          <mat-list-item>
                            <span matListItemTitle>Projeto de irrigação</span>
                            <span>42</span>
                          </mat-list-item>
                          <mat-list-item>
                            <span matListItemTitle>Projeto de ar condicionado</span>
                            <span>9</span>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                    <div style="font-weight: bold; margin-left: 16px; font-size: 17px;color: black;">
                      <span>Valor Total: R$ 6.000.000,00</span>
                    </div>
          
              <div class="container rounded-shadow-div" style="margin-top: 50px;">
                <h3 class="texto"> Córrego seco</h3>
                <button mat-button mat-stroked-button style="margin-right: 16px; padding-right: 0px;" (click)="editProjeto1()">
                  <mat-icon class="mat-icon">edit</mat-icon>
                </button>
              </div>
              <div class="list-container">                
                <div>
                  <h3 style="margin-left: 20px;">Item</h3>
                  <mat-list>
                    <mat-list-item>
                      <span matListItemTitle >620153 </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >620151</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >620152</span>
                      <span matListItemLine></span>
                    </mat-list-item>
                  
             
                    <mat-list-item>
                      <span matListItemTitle >620150</span>                     
                      <span matListItemLine></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >620131</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >620132</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle >620139</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >620137</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >14132</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle >120321</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >1203211</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >12032117</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                 
                    <mat-list-item>
                      <span matListItemTitle >120320</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >412334</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >453213</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                  </mat-list>
                </div>

                <div>
                  <h3 style="margin-left: 15px;">Código</h3>
                  <mat-list>
                    <mat-list-item>
                      <span matListItemTitle >321 </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >432</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >989</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                  
             
                    <mat-list-item>
                      <span matListItemTitle >620150</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >543</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >620132</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle >8790</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >620137</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >9987</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle >543453</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >54345367</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >12032117</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                 
                    <mat-list-item>
                      <span matListItemTitle >6120320</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >5412334</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >453213</span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                  </mat-list>
                </div>


                <div>
                  <h3 style="margin-left: 20px;">Origem</h3>
                  <mat-list>
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                  
             
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                 
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle >SUDECAP </span>
                      <span matListItemLine ></span>
                    </mat-list-item>
                  </mat-list>
                </div>


                <div>
                  <h3 style="margin-left: 15px;">Item / Quantidade</h3>
                  <mat-list>
                    <mat-list-item>
                      <span matListItemTitle>Engenheiro Consultor </span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">2</span>
                      <input matInput style="margin-top: 5px;" [value]=2 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Engenheiro/Arquiteto Consultor</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">12</span>
                      <input matInput style="margin-top: 5px;" [value]=12 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Engenheiro/Arquiteto Junior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">11</span>
                      <input matInput style="margin-top: 5px;" [value]=11 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                  
             
                    <mat-list-item>
                      <span matListItemTitle>Desenhista Projetista</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">5</span>
                      <input matInput style="margin-top: 5px;" [value]=5 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Desenhista Cadista</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">1</span>
                      <input matInput style="margin-top: 5px;" [value]=1 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Desenhista Copista</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">3</span>
                      <input matInput style="margin-top: 5px;" [value]=3 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle>Auxiliar Administrativo Sênior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">15</span>
                      <input matInput style="margin-top: 5px;" [value]=15 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Auxiliar Administrativo Intermediário</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">9</span>
                      <input matInput style="margin-top: 5px;" [value]=9 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Auxiliar Administrativo Junior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">1</span>
                      <input matInput style="margin-top: 5px;" [value]=1 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle>Técnico Senior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">0</span>
                      <input matInput style="margin-top: 5px;" [value]=0 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Técnico Intermediário</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">1</span>
                      <input matInput style="margin-top: 5px;" [value]=1 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Técnico Junior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">7</span>
                      <input matInput style="margin-top: 5px;" [value]=7 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                 
                    <mat-list-item>
                      <span matListItemTitle>Projeto Eletrico</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">0</span>
                      <input matInput style="margin-top: 5px;" [value]=0 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Projeto de irrigação</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">4</span>
                      <input matInput style="margin-top: 5px;" [value]=4 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Projeto de ar condicionado</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'">3</span>
                      <input matInput style="margin-top: 5px;" [value]=3 [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'">
                    </mat-list-item>
                  </mat-list>
                </div>             
                
                
                <div>
                  <h3 style="margin-left: 15px;">Valor s(c) BDI</h3>
                  <mat-list>
                    <mat-list-item>
                      <span matListItemTitle>R$ 10.00 </span>
                      <span matListItemLine >R$ 10.20</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 20.00</span>
                      <span matListItemLine >R$ 20.20</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 23.00</span>
                      <span matListItemLine >R$ 23.20</span>
                    </mat-list-item>
                               
                    <mat-list-item>
                      <span matListItemTitle>R$ 33.00</span>
                      <span matListItemLine >R$ 33.50</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 45.00</span>
                      <span matListItemLine >R$ 55.00</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 47.00</span>
                      <span matListItemLine >R$ 48.00</span>
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle>R$ 53.00</span>
                      <span matListItemLine>R$ 53.15</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 63.15</span>
                      <span matListItemLine >R$ 63.95</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 73.15</span>
                      <span matListItemLine >R$ 73.15</span>
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle>R$ 78.00</span>
                      <span matListItemLine >R$ 78.30</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 88.00</span>
                      <span matListItemLine >R$ 89.00</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 75.00</span>
                      <span matListItemLine >R$ 78.00</span>
                    </mat-list-item>
                 
                    <mat-list-item>
                      <span matListItemTitle>R$ 97.00</span>
                      <span matListItemLine >R$ 98.00</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 58.00</span>
                      <span matListItemLine >R$ 60.00</span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 68.00</span>
                      <span matListItemLine >R$ 69.00</span>
                    </mat-list-item>
                  </mat-list>
                </div>             

                <div>
                  <h3 style="margin-left: 15px;">Valor Total</h3>
                  <mat-list>
                    <mat-list-item>
                      <span matListItemTitle>R$ 20.00 </span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 240.00</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 253.00</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                               
                    <mat-list-item>
                      <span matListItemTitle>R$ 165.00</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 55.00</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 144.00</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle>R$ 795.00</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 568.35</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 73.15</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle>R$ 0.00</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 89.00</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 525.00</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                 
                    <mat-list-item>
                      <span matListItemTitle>R$ 00.00</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 232.00</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>R$ 204.00</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto1 ? 'block' : 'none'"></span>
                    </mat-list-item>
                  </mat-list>
                </div>    

              </div>
              <div style="font-weight: bold; font-size: 17px; margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center; padding-left: 16px; padding-right: 16px;">
                <span>Valor Total: R$ 1.000.000,00</span>
                <mat-form-field>
                  <mat-label>Status</mat-label>
                  <mat-select>
                    <mat-option value="Medido">Medido</mat-option>
                    <mat-option value="Solicitado">Solicitado</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-button [style.display]="alterarMedicaoProjeto1 ? 'block' : 'none'" style="background-color: royalblue; color: white;">Salvar</button>
              </div>

              <div class="container rounded-shadow-div" style="margin-top: 15px;">
                <h3 class="texto"> Arrojado</h3>
                <button mat-button mat-stroked-button style="margin-right: 16px; padding-right: 0px;" (click)="editProjeto2()">
                  <mat-icon class="mat-icon">edit</mat-icon>
                </button>              </div>
              <div class="list-container">                
                <div>
                  <mat-list>
                    <mat-list-item>
                      <span matListItemTitle>Engenheiro Consultor </span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">5</span>
                      <input matInput style="margin-top: 5px;" [value]=5 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Engenheiro/Arquiteto Consultor</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">1</span>
                      <input matInput style="margin-top: 5px;" [value]=1 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Engenheiro/Arquiteto Junior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">18</span>
                      <input matInput style="margin-top: 5px;" [value]=18 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle>Desenhista Projetista</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">25</span>
                      <input matInput style="margin-top: 5px;" [value]=25 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Desenhista Cadista</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">12</span>
                      <input matInput style="margin-top: 5px;" [value]=12 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Desenhista Copista</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">23</span>
                      <input matInput style="margin-top: 5px;" [value]=23 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                 
                    <mat-list-item>
                      <span matListItemTitle>Auxiliar Administrativo Sênior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">15</span>
                      <input matInput style="margin-top: 5px;" [value]=15 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Auxiliar Administrativo Intermediário</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">29</span>
                      <input matInput style="margin-top: 5px;" [value]=29 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Auxiliar Administrativo Junior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">11</span>
                      <input matInput style="margin-top: 5px;" [value]=11 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                 
                    <mat-list-item>
                      <span matListItemTitle>Técnico Senior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">10</span>
                      <input matInput style="margin-top: 5px;" [value]=10 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Técnico Intermediário</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">15</span>
                      <input matInput style="margin-top: 5px;" [value]=15 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Técnico Junior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">7</span>
                      <input matInput style="margin-top: 5px;" [value]=7 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle>Projeto Eletrico</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">0</span>
                      <input matInput style="margin-top: 5px;" [value]=0 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Projeto de irrigação</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">24</span>
                      <input matInput style="margin-top: 5px;" [value]=24 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Projeto de ar condicionado</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto2 ? 'block' : 'none'">3</span>
                      <input matInput style="margin-top: 5px;" [value]=3 [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'">
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
              <div style="font-weight: bold; font-size: 17px; margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center; padding-left: 16px; padding-right: 16px;">
                <span>Valor Total: R$ 2.000.000,00</span>
                <mat-form-field>
                  <mat-label>Status</mat-label>
                  <mat-select>
                    <mat-option value="Medido">Medido</mat-option>
                    <mat-option value="Solicitado">Solicitado</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-button [style.display]="alterarMedicaoProjeto2 ? 'block' : 'none'" style="background-color: royalblue; color: white;">Salvar</button>
              </div>

              <div class="container rounded-shadow-div" style="margin-top: 15px;">
                <h3 class="texto"> Grota II</h3>
                <button mat-button mat-stroked-button style="margin-right: 16px; padding-right: 0px;" (click)="editProjeto3()">
                  <mat-icon class="mat-icon">edit</mat-icon>
                </button>
              </div>
              <div class="list-container">                
                <div>
                  <mat-list>
                    <mat-list-item>
                      <span matListItemTitle>Engenheiro Consultor </span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">23</span>
                      <input matInput style="margin-top: 5px;" [value]=23 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Engenheiro/Arquiteto Consultor</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">2</span>
                      <input matInput style="margin-top: 5px;" [value]=2 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Engenheiro/Arquiteto Junior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">1</span>
                      <input matInput style="margin-top: 5px;" [value]=1 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                 
                    <mat-list-item>
                      <span matListItemTitle>Desenhista Projetista</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">25</span>
                      <input matInput style="margin-top: 5px;" [value]=25 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Desenhista Cadista</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">11</span>
                      <input matInput style="margin-top: 5px;" [value]=11 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Desenhista Copista</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">13</span>
                      <input matInput style="margin-top: 5px;" [value]=13 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                 
                    <mat-list-item>
                      <span matListItemTitle>Auxiliar Administrativo Sênior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">15</span>
                      <input matInput style="margin-top: 5px;" [value]=15 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Auxiliar Administrativo Intermediário</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">9</span>
                      <input matInput style="margin-top: 5px;" [value]=9 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Auxiliar Administrativo Junior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">1</span>
                      <input matInput style="margin-top: 5px;" [value]=1 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle>Técnico Senior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">10</span>
                      <input matInput style="margin-top: 5px;" [value]=10 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Técnico Intermediário</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">21</span>
                      <input matInput style="margin-top: 5px;" [value]=21 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Técnico Junior</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">7</span>
                      <input matInput style="margin-top: 5px;" [value]=7 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                  
                    <mat-list-item>
                      <span matListItemTitle>Projeto Eletrico</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">0</span>
                      <input matInput style="margin-top: 5px;" [value]=0 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Projeto de irrigação</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">14</span>
                      <input matInput style="margin-top: 5px;" [value]=14 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                    <mat-list-item>
                      <span matListItemTitle>Projeto de ar condicionado</span>
                      <span matListItemLine [style.display]="!alterarMedicaoProjeto3 ? 'block' : 'none'">3</span>
                      <input matInput style="margin-top: 5px;" [value]=3 [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'">
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
              <div style="font-weight: bold; font-size: 17px; margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center; padding-left: 16px; padding-right: 16px;">
                <span>Valor Total: R$ 3.000.000,00</span>
                <mat-form-field>
                  <mat-label>Status</mat-label>
                  <mat-select>
                    <mat-option value="Medido">Medido</mat-option>
                    <mat-option value="Solicitado">Solicitado</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-button [style.display]="alterarMedicaoProjeto3 ? 'block' : 'none'" style="background-color: royalblue; color: white;">Salvar</button>
              </div>
            </mat-expansion-panel>
         

          </mat-accordion>
        </div>
      </mat-card-content>
  </mat-card>
</div>

<div class="contratos-body" >
  <mat-card class="card-content" [style.display]="exibir ? 'block' : 'none'">
    <mat-card-header class="rounded-shadow-div">
      <div style="font-size: 15px;">
        <h3> Resumo Todas Medições</h3>
      </div>
    </mat-card-header>
    <mat-card-content>

      <div class="list-container">                
        <div>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Engenheiro Consultor </span>
              <span matListItemLine>30</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Engenheiro/Arquiteto Consultor</span>
              <span>15</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Engenheiro/Arquiteto Junior</span>
              <span>30</span>
            </mat-list-item>
          </mat-list>
        </div>
        <div>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Desenhista Projetista</span>
              <span matListItemLine>55</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Desenhista Cadista</span>
              <span>24</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Desenhista Copista</span>
              <span>39</span>
            </mat-list-item>
          </mat-list>
        </div>
        <div>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Auxiliar Administrativo Sênior</span>
              <span matListItemLine>45</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Auxiliar Administrativo Intermediário</span>
              <span>47</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Auxiliar Administrativo Junior</span>
              <span>13</span>
            </mat-list-item>
          </mat-list>
        </div>
        <div>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Técnico Senior</span>
              <span matListItemLine>20</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Técnico Intermediário</span>
              <span>37</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Técnico Junior</span>
              <span>21</span>
            </mat-list-item>
          </mat-list>
        </div>
        <div>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle>Projeto Eletrico</span>
              <span matListItemLine>0</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Projeto de irrigação</span>
              <span>42</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Projeto de ar condicionado</span>
              <span>9</span>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div style="font-weight: bold; margin-left: 16px; font-size: 17px;color: black;">
        <span>Valor Total: R$ 6.000.000,00</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>