<div class="contratos-body">
  <mat-card class="card-content">
      <mat-card-header><span>Medições</span></mat-card-header>
      <mat-card-content>  
        <div >
          <h3>Informe um contrato para exibir as medições</h3>    
          <mat-form-field style="display: inline-block; vertical-align: top; ">
            <mat-label>Selecione o cliente</mat-label>
            <input matInput [matAutocomplete]="auto" [(ngModel)]="selectedPrefeitura" (ngModelChange)="filtrarPrefeitura($event)">
            
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChange($event.option.value)">
              <mat-option *ngFor="let prefeitura of listaFiltrada" [value]="prefeitura.nome">
                {{ prefeitura.nome }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          
           
          <mat-form-field style="margin-left: 5px;display: inline-block; vertical-align: top; " [style.display]="exibirContrato ? '' : 'none'">
            <mat-label>Selecione o contrato</mat-label>
            <mat-select disableRipple [(ngModel)]="contratoSelecionado">
              <mat-option *ngFor="let contrato of listaContratos" [value]="contrato.idContrato" >{{contrato.numeroContrato}}</mat-option>
            </mat-select>
          </mat-form-field>  
          
            <button mat-button style="background-color:royalblue; color: white; margin-left: 10px;margin-top: 10px; " [style.display]="contratoSelecionado > 0 ? '' : 'none'" (click)="buscar()">Buscar</button>
            <button mat-button style="background-color:white; color: black; margin-left: 10px;margin-top: 10px;border: solid 1px; border-color: black; " [style.display]="contratoSelecionado > 0 ? '' : 'none'" (click)="limpar()">Limpar</button>
        </div>    
        <h3 [style.display]="exibir ? 'block' : 'none'">Empresa: {{contratoSelecionadoEstrutura ? contratoSelecionadoEstrutura.empresa.nome : ""}}</h3>
        <div class="mat-elevation-z8" [style.display]="exibir ? 'block' : 'none'">
          <div style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
            <div style="color: black;">
              <span matTooltip="Exibir Todos" style="cursor: pointer; margin-right: 10px;" (click)="openAllAccordions()">
                <mat-icon>playlist_add</mat-icon>
              </span>
              <span matTooltip="Ocultar Todos" style="cursor: pointer;" (click)="closeAllAccordions()">
                <mat-icon>eject</mat-icon>
              </span>
            </div>
            <div>
              <button mat-button style="background-color:royalblue; color: white; " (click)="openDialogConsolidado(medicaoProjetos[0].data[0])">Ver Consolidado Contrato</button>
              <button mat-button mat-stroked-button style="margin-left:10px; background-color:royalblue; color: white;" (click)="openDialog()">
                <span>Adicionar Medição</span>
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
          <mat-accordion class="example-headers-align" multi *ngFor="let medicoes of medicaoProjetos">                     
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Medição {{medicoes.numeroMedicao}} </mat-panel-title>
                <mat-panel-description>
                  <!--Ao expandir, devem ser exibidos todos os projetos medidos na medição {{medicoes.numeroMedicao}}-->
                  <span> Valor Total: <strong style="color: black;">{{formatToCurrency(somarValorTotalMedicao(medicoes.data, medicoes.numeroMedicao))}}</strong></span>
                  <button mat-button mat-stroked-button style="background-color:white; color: black; margin-left: 10px; border: solid 1px; border-color: black;" (click)="deletarMedicao(medicoes)">
                    <span>Deletar Medição</span>
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              <div style="display: flex; align-items: center;">
                <button mat-button mat-stroked-button style="background-color:white; color: black; margin-left: 10px; margin-top: -10px; border: solid 1px; border-color: black;" (click)="openDialogAssociate(medicoes.numeroMedicao, medicoes.data)">
                  <span>Associar Projeto</span>
                  <mat-icon>add</mat-icon>
                </button>
              
                <button mat-button mat-stroked-button style="background-color:white; color: black; margin-left: 10px; margin-top: -10px; border: solid 1px; border-color: black;" (click)="enviar(medicoes.numeroMedicao)">
                  <span>Enviar Medição</span>
                  <mat-icon>send</mat-icon>
                </button>
              
                <button mat-button mat-stroked-button style="background-color:white; color: black; margin-left: 10px; margin-top: -10px; border: solid 1px; border-color: black;" (click)="associarProjetoOutraMedicao(medicoes.numeroMedicao, medicoes)">
                  <span>Associar Projeto Outra Medição</span>
                  <mat-icon>extension</mat-icon>
                </button>

                <div style="width: 20px;"></div>
              
                <div style="margin-left: 10px;">
                  <div>Documentos:</div>
                  <div style="display: flex; align-items: center;">
                    <input #documentoInput type="file" style="width: 350px; margin-right: 10px;" />
                    <span matTooltip="Exibir Todos" style="cursor: pointer;">
                      <mat-icon>playlist_add</mat-icon>
                    </span>
                  </div>
                </div>
              </div>
              
              <div *ngFor="let medicao of medicoes.data">
                <app-listaMedicao [medicoes]="medicao"></app-listaMedicao>              
              </div>
            
            </mat-expansion-panel>         
          </mat-accordion>
        </div>
      </mat-card-content>
  </mat-card>
</div>


<app-loading *ngIf="this.isLoading"></app-loading>