.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(248, 249, 250, 0.8);
  font-family: Arial, Helvetica, sans-serif;
  height: calc(100vh - 50px);

}

.home-body p {
  font-size: 36px;
  font-weight: 700; /* Deixa o texto mais grosso */
  margin-bottom: 40px;
  border-bottom: 2px solid #000; /* Borda inferior vermelha */
  display: inline-block;
  padding-bottom: 10px;
  -webkit-background-clip: text;
}

.teste {
  height: 100vh;
}

.cards-group {
  width: 60%;
  height: 60%;
  margin-top: 3%;
}

.cards-group mat-grid-list {
  border: 1px solid #E0E0E0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  //background-color: rgba(248, 249, 250, 0.8);
  background-color: #f5f5f5;
}

.cards-group mat-card > mat-card-title {
  font-size: 19px;
}

.cards-group mat-card > mat-card-content {
  font-size: 14px;
  margin-top: 4%;
}

.cards-group mat-card {
  border-radius: 10px;
  padding: 3px;
  display: flex;
  align-items: center;
  width: 50%;
  height: 70%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: #f7f7f7; /* Branco fosco */
  color: #333; /* Texto escuro para legibilidade */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important; /* Sombra suave */
}

.cards-group mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
