<div style="width: 100%; box-shadow: 0px 0px 5px rgb(35 92 146 / 37%);">
  <aside
      class="sidebar"
      (mouseenter)="toggleSidenav(true)"
      (mouseleave)="toggleSidenav(false)">
    <header class="sidebar-header">
      <img *ngIf="this.sidenavOpened" class="logo-img" src="/assets/images/logos/logo_projeta_branca_290.png" alt="projeta" />
      <img *ngIf="!this.sidenavOpened" class="icon-img" src="/assets/images/logos/icon_projeta.png" alt="projeta"/>
    </header>

    <nav>
      <button [routerLink]="['/main/home']">
        <span>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </span>
      </button>

      <button [routerLink]="['/main/prefeitura']" *ngIf="!hasPrefeitura">
        <span>
          <mat-icon>account_balance</mat-icon>
          <span>Cliente</span>
        </span>
      </button>

      <button [routerLink]="['/main/contratos']" *ngIf="!hasPrefeitura">
        <span>
          <mat-icon>description</mat-icon>
          <span>Contrato</span>
        </span>
      </button>

      <button [routerLink]="['/main/projetos']" *ngIf="!hasPrefeitura">
        <span>
          <mat-icon>build</mat-icon>
          <span>Projeto</span>
        </span>
      </button>

      <button [routerLink]="['/main/relatorioProjetosPorMedicao']" *ngIf="!hasPrefeitura">
        <span>
          <mat-icon>assignment</mat-icon>
          <span>Medições</span>
        </span>
      </button>

      <button (click)="toggleRelatorios()">
        <span class="menu">
          <div>
            <mat-icon>bar_chart</mat-icon>
            <span>Relatórios</span>
          </div>
          <div class="collapsed-menu">
            <mat-icon *ngIf="relatoriosExpanded">expand_less</mat-icon>
            <mat-icon *ngIf="!relatoriosExpanded">expand_more</mat-icon>
          </div>
        </span>
      </button>

      <div *ngIf="relatoriosExpanded" class="submenu">
        <button [routerLink]="['/main/boletim']" *ngIf="!hasPrefeitura">Boletins</button>
        <button [routerLink]="['/main/aprovacaoBoletim']" *ngIf="hasPrefeitura">Tela de Aprovações</button>
        <button [routerLink]="['/main/powerBi']" *ngIf="!hasPrefeitura">Dashboards</button>
      </div>
    </nav>
  </aside>
</div>
