<div class="perfis-body">
  <div class="title-content">
    <span *ngIf="data.edicao">Editar Perfil</span>
    <span *ngIf="!data.edicao">Adicionar Perfil</span>
  </div>

  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
      <mat-error *ngIf="form.get('nome').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="form.get('email').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="senha" type="password">
      <mat-error *ngIf="form.get('senha').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <mat-select formControlName="prefeitura">
        <mat-option *ngFor="let prefeitura of listaPrefeitura" [value]="prefeitura.idPrefeitura">
          {{prefeitura.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!this.data.edicao">
      <mat-label>Grupo</mat-label>
      <mat-select formControlName="grupo">
        <mat-option *ngFor="let grupo of listaGrupos" [value]="grupo.idGrupo">
          {{grupo.nome}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('grupo').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

  </form>

  <div class="div-form" *ngIf="this.userLogin == 'admin'">
    <mat-checkbox name="selecionado" [disabled]="this.data.edicao" [(ngModel)]="ehSuperAdmin">
      Super Admin
    </mat-checkbox>
  </div>

  <div class="group-buttons">
    <button mat-button (click)="this.dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="saveForm()">Salvar</button>
  </div>
</div>
