<h1 mat-dialog-title style="font-weight: bold; font-size: 20px; text-align: center;">Cadastrar contrato</h1>
<mat-dialog-content class="mat-typography">
  <div style="margin-top: 20px;">
    <div>

      <mat-form-field>
        <mat-label>Selecione o cliente</mat-label>
        <input matInput [matAutocomplete]="auto" [(ngModel)]="selectedPrefeitura" (ngModelChange)="filtrarPrefeitura($event)">
        
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChange($event.option.value)">
          <mat-option *ngFor="let prefeitura of listaFiltrada" [value]="prefeitura.nome">
            {{ prefeitura.nome }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field style="margin-left: 10px;">
        <mat-label>Data Contrato</mat-label>
        <input matInput 
               type="date" 
               [(ngModel)]="criarContrato.DataContrato"
               [formControl]="dateControl" />
        <mat-error *ngIf="dateControl.hasError('invalidFormat')">
          Formato de data inválido
        </mat-error>
      </mat-form-field>

      <mat-form-field style="margin-left: 10px;">
        <mat-label>Numero Contrato</mat-label>
        <input matInput [(ngModel)]="criarContrato.NumeroContrato"/>
      </mat-form-field>

      <mat-form-field style="margin-left: 10px;">
        <mat-label>Tipo Contratação</mat-label>
        <mat-select [(ngModel)]="criarContrato.TipoContratacao" disableRipple>
          <mat-option [value]="1">Adesão</mat-option>
          <mat-option [value]="2">Licitação</mat-option>
        </mat-select>
      </mat-form-field>
      
    </div>
    <div>
      <mat-form-field>
        <mat-label>Data Inicio</mat-label>
        <input matInput 
               type="date" 
               [(ngModel)]="criarContrato.DataInicio"
               [formControl]="dateInicioControl" />
        <mat-error *ngIf="dateInicioControl.hasError('invalidFormat')">
          Formato de data inválido
        </mat-error>
      </mat-form-field>

      <mat-form-field style="margin-left: 10px;">
        <mat-label>Data Termino</mat-label>
        <input matInput 
               type="date" 
               [(ngModel)]="criarContrato.DataTermino"
               [formControl]="dateTerminoControl" />
        <mat-error *ngIf="dateTerminoControl.hasError('invalidFormat')">
          Formato de data inválido
        </mat-error>
      </mat-form-field>

      <mat-form-field style="margin-left: 10px;">
        <mat-label>Selecione o Gerente</mat-label>
        <mat-select disableRipple [(ngModel)]="criarContrato.Gerente">
          <mat-option *ngFor="let gerente of listaGerentes" [value]="gerente.login" >{{gerente.login}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-left: 10px;">
        <mat-label>Selecione a Empresa</mat-label>
        <mat-select disableRipple [(ngModel)]="criarContrato.EmpresaId">
          <mat-option *ngFor="let empresa of listaEmpresa" [value]="empresa.empresaId" >{{empresa.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div>
      <mat-checkbox [(ngModel)]="criarContrato.IsContratoGlobal" name="selecionado">
        Contrato Global
      </mat-checkbox>
      
    </div>
    <div style="display: flex; flex-wrap: wrap; gap: 10px; margin-top: 10px;">
      <div>
        Documentos:
      </div>
      <div>
        <input #documentoInput type="file" style="width: 100%" />
      </div>
      <span matTooltip="Exibir Todos" style="cursor: pointer; margin-right: 10px;" (click)="adicionarDocumento()">
        <mat-icon>playlist_add</mat-icon>
      </span>
      <div style="margin-left: 30px;">
        Base de dados:
      </div>
      <div>
        <input #baseDadosInput type="file" style="width: 100%" />
      </div>
    </div>
    <div *ngFor="let item of listaDocumentoContrato">
      <div style="display: flex; align-items: center; font-size: 13px; margin: 0; padding: 0;">
        {{item.nome}}
        <span matTooltip="Excluir Documento" style="cursor: pointer; margin-left: 10px;" (click)="deletarDocumentos(item)">
          <mat-icon style="font-size: 19px; vertical-align: middle;">delete</mat-icon>
        </span>
      </div>
    </div>    
  </div>
</mat-dialog-content>
<mat-dialog-actions >
  <button mat-button (click)="salvar()" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>

<app-loading *ngIf="this.isLoading"></app-loading>