<div class="projetos-body">
  <mat-card class="card-content">
    <mat-card-header><span>Projetos</span></mat-card-header>
    <mat-card-content>
      <div class="buttons-content">
        <button mat-raised-button (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button>
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <div class="grid-content">
        <div class="group-cards">
          <mat-card>
            <mat-card-content>
              <div>
                <span>Nome Projeto</span>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-content>
              <div>
                <span>Nome Projeto2</span>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-content>
              <div>
                <span>Nome Projeto3</span>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-content>
              <div>
                <span>Nome Projeto4</span>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-content>
              <div>
                <span>Nome Projeto5</span>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-content>
              <div>
                <span>Nome Projeto6</span>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-content>
              <div>
                <span>Nome Projeto7</span>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-content>
              <div>
                <span>Nome Projeto8</span>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-content>
              <div>
                <span>Nome Projeto9</span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="projeto-content">
          <app-incluir-editar-projeto></app-incluir-editar-projeto>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
