<div class="perfis-body">
  <div class="title-content">
    <span *ngIf="data.edicao">Editar Perfil</span>
    <span *ngIf="!data.edicao">Adicionar Perfil</span>
  </div>

  <form>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Grupo</mat-label>
      <mat-select>
        <mat-option *ngFor="let grupo of grupos" [value]="grupo">{{grupo}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="group-buttons">
    <button mat-raised-button color="accent">Excluir</button>
    <button mat-raised-button color="primary">Salvar</button>
  </div>
</div>
