<div class="register-container">
  <div class="card-register">
    <div class="logo-content">
      <img src="/assets/images/logos/logo_projeta_branca_290.png" alt="projeta" />
    </div>
    <p>Fazendo a diferença na vida das pessoas</p>
    <form [formGroup]="form" class="form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="form.get('email').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Senha atual</mat-label>
        <input matInput formControlName="senhaAtual" type="password">
        <mat-error *ngIf="form.get('senhaAtual').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Senha nova</mat-label>
        <input matInput formControlName="senhaNova" type="password">
        <mat-error *ngIf="form.get('senhaNova').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="btn-save" (click)="salvar()">Salvar</button>
      <button mat-raised-button color="accent" class="btn-return" type="button" (click)="onReturn()">Voltar para tela inicial</button>
    </form>
  </div>
</div>
