.contratos-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #667799;
  }

  .container {
    display: flex;
    justify-content: space-between; /* Alinha o texto à esquerda e o ícone à direita */
    align-items: center; /* Alinha verticalmente os itens no centro */
  }

  .table-wrapper {
    max-height: 70vh;
    overflow: auto;
    position: relative;
  }
  
  .custom-table {
    width: 100%;
  }
  
  .mat-mdc-table thead {
    background: white;
  }
  
  .mat-mdc-header-row {
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
  }
  
  .card-content {
    width: 90%;
    height: 90%;
    margin-top: 3%;
    border-radius: 20px;
  }
  
  .card-content mat-card-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #000;
    font-size: 21px !important;
    color: #000 !important;
  }
  
  .card-content mat-card-header > span {
    margin-bottom: 1%;
  }

  .example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  
  .list-container {
    margin-bottom: 8px;
  }
  
  .list-container > div {
    flex: 0.3; /* opcional: para que as listas ocupem o mesmo espaço */
  }
  
  .rounded-shadow-div {
    border-radius: 15px;       
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #f9f9f9;
    margin: 0 auto;            
    display: flex;             
    justify-content: space-between; /* Coloca o conteúdo nas extremidades */
    align-items: center;        /* Centraliza verticalmente */
  }
  
  .texto {
    flex-grow: 1; /* Faz com que o texto ocupe todo o espaço disponível */
    text-align: center; /* Alinha o texto ao centro */
    margin: 0; /* Remove a margem para garantir que o texto fique centralizado */
  }
  .mat-icon{
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .disabled-btn {
    background-color: gray !important;
  }