<div>
  <div class="container rounded-shadow-div" style="margin-top: 10px;">
    <!-- <h3 class="texto"> Pegar nome projeto</h3> -->
    <h3 class="texto"> {{medicoes?.contratos?.projetos[0].nomeProjeto }}</h3>

    <span matTooltip="Aprovar Medição" style="cursor: pointer;margin-right: 16px; padding-right: 0px;" (click)="aprovarMedicao(medicoes.idMedicoesProjeto)">
      <mat-icon>done_outline</mat-icon>
    </span>
    <span matTooltip="Recusar Medição" style="cursor: pointer;margin-right: 16px; padding-right: 0px;" (click)="reprovarMedicao(medicoes.idMedicoesProjeto)">
      <mat-icon>highlight_off</mat-icon>
    </span>
    <span matTooltip="Editar Dados" style="cursor: pointer;margin-right: 16px; padding-right: 0px;" (click)="enableEditInput()">
      <mat-icon>edit</mat-icon>
    </span>
  </div>

  <div class="list-container" style="max-height: 530px; overflow-y: auto;">
    <!-- Títulos exibidos uma única vez -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-top: 8px;">
      <!-- Coluna para 'Item' -->
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef style="font-size: 13px;"> Item </th>
        <td mat-cell *matCellDef="let item" style="font-size: 12px;">{{ item.itemsContrato.item.identificador }}</td>
      </ng-container>
  
      <!-- Coluna para 'Origem' -->
      <ng-container matColumnDef="item/qtd">
        <th mat-header-cell *matHeaderCellDef style="font-size: 13px;"> Descrição / Quantidade </th>
        <td mat-cell *matCellDef="let item">
          <span style="font-size: 12px;">{{ item.itemsContrato.item.descricao }}</span><br/>
          <!--<input matInput style="margin-top: 5px;" [value]=2 >-->
          <span style="font-size: 12px; color: gray;">{{ item.itemsContrato.unidade }}</span>
          <!--<span style="font-size: 12px; color: gray;">{{ item.itemsContrato.unidade }} - {{ item.itemsContrato.item.quantidade.nome }}</span> -->
        </td>
      </ng-container>

      <ng-container matColumnDef="valor(s)cBdi">
        <th mat-header-cell *matHeaderCellDef style="font-size: 13px;"> Valor com BDI</th>
        <td mat-cell *matCellDef="let item">
          <span style="font-size: 12px;">{{ formatToCurrency(item.itemsContrato.item.valorComBdi) }}</span><br/>
        </td>
      </ng-container>

      <ng-container matColumnDef="valorTotal/bdi">
        <th mat-header-cell *matHeaderCellDef style="font-size: 13px;"> Valor Total BDI</th>
        <td mat-cell *matCellDef="let item">
          <span style="font-size: 12px;">{{ formatToCurrency(item.itemsContrato.item.valorTotalComBdi) }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="qtdRestante">
        <th mat-header-cell *matHeaderCellDef style="font-size: 13px;"> Saldo </th>
        <td mat-cell *matCellDef="let item" style="width: 5%;">
          <span style="font-size: 12px;" >{{ buscarItemMedicao(item.idItemContrato)}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="qtdMedicaoItem">
        <th mat-header-cell *matHeaderCellDef style="font-size: 13px;"> Qtd Medida </th>
        <td mat-cell *matCellDef="let item" style="width: 10%;">
          <input matInput type="number" (change)="onChange(item)" style="width: 50%;" [(ngModel)]="item.unidade" [style.display]="alterarMedicaoProjeto ? 'block' : 'none'">
          <span style="font-size: 12px;" [style.display]="!alterarMedicaoProjeto ? 'block' : 'none'">{{item.unidade}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="valorTotalMedidaBdi">
        <th mat-header-cell *matHeaderCellDef style="font-size: 13px;"> Valor Total </th>
        <td mat-cell *matCellDef="let item">
          <span style="font-size: 12px;">{{formatToCurrency(item.unidade * item.itemsContrato.item.valorComBdi)}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="valorSaldoRestante">
        <th mat-header-cell *matHeaderCellDef style="font-size: 13px;"> Valor Saldo </th>
        <td mat-cell *matCellDef="let item">
          <span style="font-size: 12px;">{{formatToCurrency(buscarItemMedicao(item.idItemContrato) * item.itemsContrato.item.valorComBdi)}}</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

    </table>

    <div style="font-weight: bold; font-size: 17px; margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center; padding-left: 16px; padding-right: 16px; margin-top: 12px;">
      <span>Valor Total Medido: {{ formatToCurrency(somarValorTotal())}}</span>
      <span>Valor Saldo Total: {{ formatToCurrency(somarValorSaldoTotal())}}</span>

      <button mat-button [style.display]="alterarMedicaoProjeto ? 'block' : 'none'" style="background-color: royalblue; color: white;" (click)="salvar()">Salvar</button>
    </div>
  </div>
</div>