<div class="incluir-body">
  <span>Editar Projeto</span>
  <div class="form-body">
    <div class="form-content">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Nome do Projeto</mat-label>
          <input matInput >
        </mat-form-field>
      </form>
      <button mat-raised-button (click)="openDialog()">Adicionar Medição</button>
    </div>
    <div class="cards-medicao">
      <mat-card class="card-medicao-content" (click)="openDialog(true)">
        <mat-card-header>
          Medição 1
        </mat-card-header>
        <mat-card-content>
          <p>Mês</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Status</p>
        </mat-card-footer>
      </mat-card>

      <mat-card class="card-medicao-content" (click)="openDialog()">
        <mat-card-header>
          Medição 2
        </mat-card-header>
        <mat-card-content>
          <p>Mês</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Status</p>
        </mat-card-footer>
      </mat-card>
      <mat-card class="card-medicao-content">
        <mat-card-header>
          Medição 2
        </mat-card-header>
        <mat-card-content>
          <p>Mês</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Status</p>
        </mat-card-footer>
      </mat-card>
      <mat-card class="card-medicao-content">
        <mat-card-header>
          Medição 2
        </mat-card-header>
        <mat-card-content>
          <p>Mês</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Status</p>
        </mat-card-footer>
      </mat-card>
      <mat-card class="card-medicao-content">
        <mat-card-header>
          Medição 2
        </mat-card-header>
        <mat-card-content>
          <p>Mês</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Status</p>
        </mat-card-footer>
      </mat-card>
      <mat-card class="card-medicao-content">
        <mat-card-header>
          Medição 2
        </mat-card-header>
        <mat-card-content>
          <p>Mês</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Status</p>
        </mat-card-footer>
      </mat-card>
      <mat-card class="card-medicao-content">
        <mat-card-header>
          Medição 2
        </mat-card-header>
        <mat-card-content>
          <p>Mês</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Status</p>
        </mat-card-footer>
      </mat-card>
      <mat-card class="card-medicao-content">
        <mat-card-header>
          Medição 2
        </mat-card-header>
        <mat-card-content>
          <p>Mês</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Status</p>
        </mat-card-footer>
      </mat-card>
      <mat-card class="card-medicao-content">
        <mat-card-header>
          Medição 2
        </mat-card-header>
        <mat-card-content>
          <p>Mês</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Status</p>
        </mat-card-footer>
      </mat-card>
      <mat-card class="card-medicao-content">
        <mat-card-header>
          Medição 2
        </mat-card-header>
        <mat-card-content>
          <p>Mês</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Status</p>
        </mat-card-footer>
      </mat-card>
      <mat-card class="card-medicao-content">
        <mat-card-header>
          Medição 2
        </mat-card-header>
        <mat-card-content>
          <p>Mês</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Status</p>
        </mat-card-footer>
      </mat-card>
      <mat-card class="card-medicao-content">
        <mat-card-header>
          Medição 2
        </mat-card-header>
        <mat-card-content>
          <p>Mês</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Status</p>
        </mat-card-footer>
      </mat-card>
      <mat-card class="card-medicao-content">
        <mat-card-header>
          Medição 2
        </mat-card-header>
        <mat-card-content>
          <p>Mês</p>
        </mat-card-content>
        <mat-card-footer>
          <p>Status</p>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  <div class="group-buttons">
    <button mat-raised-button color="accent">Excluir</button>
    <button mat-raised-button color="primary">Salvar</button>
  </div>
</div>


