<div class="configuracoes-body">
  <mat-card class="card-content">
    <mat-card-header><span>Configurações</span></mat-card-header>
    <mat-card-content>
      <div class="options">
        <button>
          <span>Alterar base de dados</span>
        </button>
        <button>
          <span (click)="openConfig(3)">Grupos e permissões</span>
        </button>
        <button>
          <span (click)="openConfig(2)">Controle de perfis</span>
        </button>
      </div>
      <div class="component">
        <app-tabela-perfis *ngIf="this.showConfig == 2"></app-tabela-perfis>

        <app-tabela-grupos-permissoes *ngIf="this.showConfig == 3"></app-tabela-grupos-permissoes>
      </div>
    </mat-card-content>
  </mat-card>

</div>
