<div class="navbar-body">
  <div>
      <mat-icon matTooltip="Configurações" [routerLink]="['/main/configuracoes']">settings</mat-icon>
  </div>
  <div>
    <mat-icon matTooltip="Perfil" (click)="toggleProfileCard()">person</mat-icon>

    <mat-card *ngIf="showProfileCard" class="profile-card">
      <mat-card-header>
        <img src="/assets/images/logos/logo_projeta_branca_290.png" alt="projeta" />
        <div>
          <span [routerLink]="['']">Sair</span>
        </div>

      </mat-card-header>
      <mat-card-content>
        <p>Nome</p>
        <p>Email</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
