.navbar-body {
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-body div {
  display: flex;
  align-items: center;
  margin-right: 5%;
  cursor: pointer;
}

::ng-deep .mat-mdc-tooltip .mdc-tooltip__surface-animation {
  font-family: 'Arial', sans-serif !important; /* Altere para a fonte que preferir */
  font-size: 14px !important; /* Ajuste o tamanho da fonte */
  font-weight: 500 !important; /* Ou o peso desejado */
}
.myTest-tooltip {
  min-width: 300px;
  background-color: #FC5558;
  font-size: 16px;
}

/* Estilo do Card do Perfil */
.profile-card {
  position: absolute; /* Para garantir que o card seja posicionado corretamente */
  top: 50px; /* Ajuste a altura para aparecer abaixo do ícone */
  right: 0; /* Posiciona o card à direita, se necessário */
  width: 280px;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 2%;
  margin-top: 5px;
  cursor: default;
}

.profile-card mat-card-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px 0 10px;
}

.profile-card mat-card-header > img {
  width: 150px;
  height: 62px;
}

.profile-card mat-card-header > div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

.profile-card mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
