<div class="historico-body">
  <mat-card class="card-content">
    <mat-card-header><span>Histórico</span></mat-card-header>

    <div style="padding-left: 30px;">
      <h3>Informe um contrato para exibir o histórico de medições</h3>
      <mat-form-field>
        <mat-label>Selecione o cliente</mat-label>
        <mat-select [(ngModel)]="selectedPrefeitura" disableRipple (selectionChange)="onSelectionChange($event.value)">
          <mat-option *ngFor="let prefeitura of listaPrefeitura" [value]="prefeitura.idPrefeitura" >{{prefeitura.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-left: 5px;" [style.display]="exibirContrato ? '' : 'none'">
        <mat-label>Selecione o contrato</mat-label>
        <mat-select disableRipple [(ngModel)]="contratoSelecionado">
          <mat-option *ngFor="let contrato of listaContratos" [value]="contrato.idContrato" >{{contrato.numeroContrato}}</mat-option>
        </mat-select>
      </mat-form-field>

        <button mat-button style="background-color:royalblue; color: white; margin-left: 10px;margin-top: -10px; " [style.display]="contratoSelecionado > 0 ? '' : 'none'" (click)="buscar(contratoSelecionado)">Buscar</button>
    </div>

    <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="numeroMedicao">
      <th mat-header-cell *matHeaderCellDef> Número Medição </th>
      <td mat-cell *matCellDef="let element"> {{element.numeroMedicao}} </td>
    </ng-container>

    <ng-container matColumnDef="statusMedicao">
      <th mat-header-cell *matHeaderCellDef> Status Medição </th>
      <td mat-cell *matCellDef="let element"> {{element.statusMedicao.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="projetos">
      <th mat-header-cell *matHeaderCellDef> Projetos Medição </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.mostrarTodos">
        <ul>
        <li *ngFor="let projeto of element.projetos.slice(0, 3); let i = index">
          {{ nomeProjeto(projeto.idProjeto, projeto.contratos?.projetos) + ' - '+ (projeto?.dataMedicao | date: 'dd/MM/yyyy HH:mm' ) + ' - ' + formatToCurrency(somarItemMedicao(projeto?.items))}}
        </li>
      </ul>
        <button *ngIf="element.projetos.length > 3" mat-button color="primary" (click)="toggleHobbies(element)">
          Mostrar mais
        </button>
      </ng-container>
      <ng-container *ngIf="element.mostrarTodos">
        <ul>
        <li *ngFor="let projeto of element.projetos; let i = index">
          {{ nomeProjeto(projeto.idProjeto, projeto.contratos?.projetos) }}
        </li>
      </ul>
        <button mat-button color="primary" (click)="toggleHobbies(element)">
          Mostrar menos
        </button>
      </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button 
                style="background-color: royalblue; color: white; width: 30%;margin-left: 8px;" 
                (click)="openBoletim(element.numeroMedicao)">
          Boletim Detalhado
        </button>

        <button mat-button 
                style="background-color: royalblue; color: white; width: 30%;margin-left: 8px;" 
                (click)="openBoletimGeral(element.numeroMedicao)">
          Boletim Geral
        </button>

        <button mat-button 
                style="background-color: royalblue; color: white; width: 30%;margin-left: 8px;" 
                (click)="openModalVerAnexo(element.numeroMedicao, element.projetos)">
          Ver Anexos
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
  </mat-card>
</div>

<app-loading *ngIf="this.isLoading"></app-loading>