.editar-criar-body {
  padding: 1%;
}

.editar-criar-body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.title-content {
  width: 100%;
  height: 10%;
}

.title-content span{
  font-size: 21px;
}

.group-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 2%;
  gap: 10px;
}

.group-buttons button {
  width: 10%;
}
