<div class="editar-criar-body">
  <div class="title-content">
    <span *ngIf="data.edicao">Editar Projeto</span>
    <span *ngIf="!data.edicao">Adicionar Projeto</span>
  </div>

  <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Selecione o cliente</mat-label>
        <input matInput [matAutocomplete]="auto" formControlName="prefeitura"(ngModelChange)="filtrarPrefeitura($event)">
        
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChange($event.option.value)">
          <mat-option *ngFor="let prefeitura of listaFiltrada" [value]="prefeitura.nome">
            {{ prefeitura.nome }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('prefeitura').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contrato</mat-label>
        <mat-select formControlName="contrato" (selectionChange)="onSelectionChangeContrato()">
          <mat-option *ngFor="let contrato of listaContratos" [value]="contrato.idContrato">
            {{contrato.numeroContrato}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('prefeitura').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome">
        <mat-error *ngIf="form.get('nome').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Código do projeto</mat-label>
        <input matInput formControlName="codigoProjeto">
        <mat-error *ngIf="form.get('codigoProjeto').hasError('required')">Campo obrigatório!</mat-error>
      </mat-form-field>
  </form>

  <div class="group-buttons">
    <button mat-button (click)="this.dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="saveForm()">Salvar</button>
  </div>
</div>
<app-loading *ngIf="this.isLoading"></app-loading>
