<h1 mat-dialog-title style="font-weight: bold; font-size: 20px; text-align: center;" >{{this.data ? "Editar Empresa" : "Cadastrar Empresa"}}</h1>
<mat-dialog-content class="mat-typography">
  <div style="margin-top: 20px;">
    <div style="display: flex; gap: 16px;" *ngIf="!this.data">
      <!-- Campo Nome Prefeitura -->
      <mat-form-field style="flex: 1;">
        <mat-label>Nome Empresa</mat-label>
        <input matInput [(ngModel)]="criarEmpresa.Nome" />
      </mat-form-field>

      <mat-form-field style="flex: 1;">
        <mat-label>CNPJ</mat-label>
        <input
          matInput
          [ngModel]="criarEmpresa.CNPJ"
          (ngModelChange)="onCnpjChange($event)"
          (keypress)="apenasNumeros($event)"
          maxlength="14" 
          placeholder="00.000.000/0000-00"
        />
      </mat-form-field>

      <mat-form-field style="flex: 1;">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="emailSerCadastrado" />
      </mat-form-field>
      <span style="margin-left: 5px; margin-top: 15px;" matTooltip="Editar" (click)="adicionarEmail()" class="hoverMouse">
        <mat-icon>save</mat-icon>
      </span>
    </div>
    
    <div style="display: flex; flex-direction: column;" *ngIf="!this.data">
      <div *ngFor="let item of emails">
        <div style="display: flex; align-items: center; font-size: 13px; margin: 0; padding: 0;">
          {{item}}
          <span matTooltip="Excluir Documento" style="cursor: pointer; margin-left: 10px;" (click)="deletarEmail(item)">
            <mat-icon style="font-size: 19px; vertical-align: middle;">delete</mat-icon>
          </span>
        </div>
      </div> 
    </div>
    
    <div style="display: flex; gap: 16px;margin-top: 10px;" *ngIf="!this.data">
        <label for="logo-upload" style="display: block;">Logo:</label>
        <input type="file" id="logo-upload" (change)="onFileChange($event)" />
    </div>
    </div>

    <div style="display: flex; gap: 16px;" *ngIf="this.data">
      <!-- Campo Nome Prefeitura -->
      <mat-form-field style="flex: 1; height: 100%;">
        <mat-label>Nome Empresa</mat-label>
        <input matInput [(ngModel)]="data.nome" />
      </mat-form-field>

      <mat-form-field style="flex: 1;">
        <mat-label>CNPJ</mat-label>
        <input
          matInput
          [ngModel]="data.cnpj"
          (ngModelChange)="onCnpjUpdChange($event)"
          (keypress)="apenasNumeros($event)"
          maxlength="14" 
          placeholder="00.000.000/0000-00"
        />
      </mat-form-field>

      <mat-form-field style="flex: 1;">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="emailSerCadastrado" />
      </mat-form-field>
      <span style="margin-left: 5px; margin-top: 15px;" matTooltip="Editar" (click)="adicionarEmail()" class="hoverMouse">
        <mat-icon>save</mat-icon>
      </span>
    </div>
    <div style="display: flex; flex-direction: column;" *ngIf="this.data">
      <div *ngFor="let item of emails">
        <div style="display: flex; align-items: center; font-size: 13px; margin: 0; padding: 0;">
          {{item}}
          <span matTooltip="Excluir Documento" style="cursor: pointer; margin-left: 10px;" (click)="deletarEmail(item)">
            <mat-icon style="font-size: 19px; vertical-align: middle;">delete</mat-icon>
          </span>
        </div>
      </div> 
    </div>
    <div style="display: flex; gap: 16px; margin-top: 10px;" *ngIf="this.data">

      <div style="flex: 1;">
        <label for="logo-upload" style="display: block;">Logo:</label>
        <input type="file" id="logo-upload" (change)="onFileChangeUpdate($event)" />
      </div>
      
      <div>
        <mat-label >Logo Atual:</mat-label>
        <br>
        <img src="{{data.logo}}" width="150"/>
      </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-stroked-button style="background-color:royalblue; color: white; margin-left: 10px;margin-top: -8px;" *ngIf="!this.data" (click)="cadastrar()" cdkFocusInitial>Cadastrar</button>
  <button mat-button mat-stroked-button style="background-color:royalblue; color: white; margin-left: 10px;margin-top: -8px;" *ngIf="this.data" (click)="salvar()" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>

<app-loading *ngIf="this.isLoading"></app-loading>