.app {
  margin-left: 71px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  height: 48px;
  margin-left: 71px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
