<div class="home-body">
  <p>Bem vindo a projeta</p>

  <div class="cards-group">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card [routerLink]="['/main/projetos']">
          <mat-card-header>
            <mat-icon>build</mat-icon>
          </mat-card-header>
          <mat-card-title>Projetos</mat-card-title>
          <mat-card-content>Nesta seção você poderá criar seus projetos</mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card [routerLink]="['/main/contratos']">
          <mat-card-header>
            <mat-icon>description</mat-icon>
          </mat-card-header>
          <mat-card-title>Contratos</mat-card-title>
          <mat-card-content>Nesta seção poderá criar seus contratos</mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card [routerLink]="['/main/configuracoes']">
          <mat-card-header>
            <mat-icon>account_balance</mat-icon>
          </mat-card-header>
          <mat-card-title>Clientes</mat-card-title>
          <mat-card-content>Nesta seção poderá configurar clientes</mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card [routerLink]="['/main/relatorioProjetosPorMedicao']">
          <mat-card-header>
            <mat-icon>assignment</mat-icon>
          </mat-card-header>
          <mat-card-title>Medição</mat-card-title>
          <mat-card-content>Nesta seção poderá realizar suas medições</mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
