<div class="home-body">
  <p>Bem vindo a projeta</p>

  <div class="cards-group">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card [routerLink]="['/main/projetos']">
          <mat-card-header>
            <mat-icon>build</mat-icon>
          </mat-card-header>
          <mat-card-title>Projetos</mat-card-title>
          <mat-card-content>Nesta seção você poderá criar seus projetos e menções</mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card [routerLink]="['/main/contratos']">
          <mat-card-header>
            <mat-icon>description</mat-icon>
          </mat-card-header>
          <mat-card-title>Contratos</mat-card-title>
          <mat-card-content>Nesta seção poderá criar seus contratos</mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card [routerLink]="['/main/configuracoes']">
          <mat-card-header>
            <mat-icon>settings</mat-icon>
          </mat-card-header>
          <mat-card-title>Configurações</mat-card-title>
          <mat-card-content>Nesta seção poderá ajustar diversas configurações, como base de dados</mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card [routerLink]="['/main/perfil']">
          <mat-card-header>
            <mat-icon>person</mat-icon>
          </mat-card-header>
          <mat-card-title>Perfil</mat-card-title>
          <mat-card-content>Nesta seção poderá ver e editar seu perfil</mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
