.incluir-editar-medicao-body {
  background-color: rgba(248, 249, 250, 0.8);
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif !important;
}

.incluir-editar-medicao-body span {
  font-size: 21px;
}

.form-body {
  width: 100%;
}

.form-body form {
  display: flex;
  flex-direction: column;
}

.bloco-form-1 {
  display: flex;
  margin-top: 2%;
}

.bloco-form-1 mat-form-field {
  margin-left: 2%;
}

.bloco-form-2 {
  display: flex;
}

.bloco-form-2 mat-form-field {
  margin-left: 2%;
}

.bloco-form-2 button {
  margin-left: 2%;
}

#inputValor {
  width: 20%;
}

#icon-remove {
  background-color: red;
  border-radius: 15px;
  cursor: pointer;
}

.group-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 2%;
  gap: 10px;
}

.group-buttons button {
  width: 10%;
  color: #f0f0f0;
}
