<div class="incluir-editar-medicao-body">
  <span *ngIf="data.edicao">Editar Medição</span>
  <span *ngIf="!data.edicao">Adicionar Medição</span>
  <div class="form-body">
    <form>
      <div class="bloco-form-1">
        <mat-form-field appearance="outline">
          <mat-label>Mês</mat-label>
          <input matInput >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="bloco-form-2">
        <mat-form-field>
          <mat-label>Recursos</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let recurso of recursos" [value]="recurso">{{recurso}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field id="inputValor" appearance="outline">
          <mat-label>Valor</mat-label>
          <input matInput type="number">
        </mat-form-field>

        <button mat-raised-button color="primary">Adicionar</button>
      </div>
    </form>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="recurso">
        <th mat-header-cell *matHeaderCellDef> Recurso </th>
        <td mat-cell *matCellDef="let element"> {{ element.recurso }} </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let element"> {{ element.valor }} </td>
      </ng-container>

      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"><mat-icon id="icon-remove">remove</mat-icon> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

  <div class="group-buttons">
    <button mat-raised-button color="accent">Excluir</button>
    <button mat-raised-button color="primary">Salvar</button>
  </div>
</div>
