<div class="login-container">
  <div class="card-login">
    <div class="logo-content">
      <img src="/assets/images/logos/logo_projeta_branca_290.png" alt="projeta" />
    </div>
    <p>Só tem valor se fizer diferença na vida das pessoas!</p>
    <form class="form-login" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput [(ngModel)]="login.Login" name="email" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput [(ngModel)]="login.Senha" name="senha" type="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" class="btn-entrar">
        <span *ngIf="!this.isLoading">Entrar</span>
        <div class="loading-overlay" *ngIf="this.isLoading">
          <div class="spinner"></div>
        </div>        
      </button>
      <button mat-raised-button color="accent" class="btn-cadastrar" type="button" (click)="onRegister()">Alterar Senha</button>
    </form>
  </div>
</div>
