@import 'src/styles';

.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding-right: 2%;
  font-family: Arial, Helvetica, sans-serif;

  @media (max-width: 768px) {
    justify-content: center;
    padding: 2%;
  }

  @media (max-width: 480px) {
    justify-content: center;
  }

  background-image: url('/assets/images-auth/background_authentication.jpg');
  background-size: cover;
  background-position: center;

  .card-login {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(35 92 146 / 37%);
    background-color: #ffffff;

    @media (max-width: 768px) {
      width: 80%;
      padding: 5%;
    }

    @media (max-width: 480px) {
      width: 90%;
    }
  }

  .form-login {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }

  .logo-content {
    max-width: 100%;
    place-content: center;
    align-items: center;
    flex: 1 1 100%;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;

    @media (max-width: 1200px) {
      img {
        max-width: 100%;
      }
    }

    @media (max-width: 480px) {
      img {
        max-width: 60%;
      }
    }
  }

  .btn-cadastrar {
    margin-top: 3%;
  }

  p {
    font-size: 14px;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}



.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
