.editar-dados-body {
  background-color: rgba(248, 249, 250, 0.8);
  padding: 1%;
}

.editar-dados-body span {
  font-size: 21px;
}

.table-body {
  width: 100%;
}

.table-body span {
  font-size: 12px;
}

.table td > span {
  margin-left: 3%;
  cursor: pointer;
}

.button-add {
  background-color:royalblue;
  color: white !important;
  margin-left: 10px;
  margin-top: -8px;
}
