<div class="boletim-detalhado" id="content" #content>
  <div class="form-boletim">
    <h2>Boletim Detalhado</h2>

    <!-- Container para os campos de seleção -->
    <form [formGroup]="form" class="select-container">
      <mat-form-field appearance="outline">
        <mat-label>Selecione o Contrato:</mat-label>
        <mat-select formControlName="contratoId" (selectionChange)="onSelectionChange($event.value)">
          <mat-option *ngFor="let contrato of listaContratos" [value]="contrato.idContrato">
            {{ contrato.numeroContrato }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Selecione a Medição:</mat-label>
        <mat-select formControlName="medicaoId" (selectionChange)="onSelectionChangeMedicao($event.value)">
          <mat-option *ngFor="let medicao of listaMedicoes" [value]="medicao.idMedicoesProjeto">
            {{ medicao.numeroMedicao }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <!-- Tabela para exibir dados -->
  <table class="styled-table">
    <thead *ngIf="boletimCabecalho">
      <!-- Linha do logotipo e título -->
      <tr>
        <th colspan="25" class="header-logo-title">
          <div class="logo-title-container">
            <img [src]="logoTipoImgUrl" alt="Logotipo" class="logo" />
            <div class="title-container">
              <h2>{{ boletimCabecalho.nomePrefeitura }}</h2>
              <h4>{{ boletimCabecalho.nomeUnidade }}</h4>
            </div>
          </div>
        </th>
      </tr>
      <!-- Linha do título principal -->
      <tr>
        <th colspan="25" class="main-title">
          {{ boletimCabecalho.tipoBoletimEmissao }}
        </th>
      </tr>
      <!-- Linha do resumo -->
      <tr>
        <th colspan="20" rowspan="2" class="summary">
          RESUMO: {{ boletimCabecalho.resumoBoletim }}
        </th>
        <th colspan="5" class="consultancy-header">
          {{ boletimCabecalho.descontoFiscalizacao }}
        </th>
      </tr>
      <tr>
        <th colspan="3" class="bdi">BDI: {{ boletimCabecalho.bdi01 }}%</th>
        <th colspan="3" class="bdi">BDI 2 {{ boletimCabecalho.bdi02 }}</th>
      </tr>
      <!-- Linha de data e contrato -->
      <tr>
        <th colspan="10" class="left-align">
          DATA DE MEDIÇÃO: {{ boletimCabecalho.dataMedicao | date: 'dd/MM/yyyy' }}
        </th>
        <th colspan="10" class="center-align">
          NÚMERO DA MEDIÇÃO: {{ boletimCabecalho.numeroMedicao }}
        </th>
        <th colspan="5" class="center-align">{{ boletimCabecalho.contrato }}</th>
      </tr>
      <!-- Linha de projeto e valor -->
      <tr>
        <th colspan="20" class="left-align">{{ boletimCabecalho.nomeProjeto }}</th>
        <th colspan="2" class="highlight">VALOR TOTAL DA MEDIÇÃO:</th>
        <th colspan="3" class="highlight">R$ {{ valorTotalMedicao.toFixed(2) }}</th>
      </tr>
      <!-- Linha do rodapé do cabeçalho -->
      <tr>
        <th colspan="25" class="footer-header">
          BOLETIM DETALHADO: {{ boletimCabecalho.nomeBoletim }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="body-first-head">
        <th colspan="1">NÚMERO</th>
        <th colspan="1">CÓDIGO EM ATA (REF.)</th>
        <th colspan="17">DESCRIÇÃO</th>
        <th colspan="1">QUANTIDADE</th>
        <th colspan="1">UND</th>
        <th colspan="1">PREÇO SEM BDI</th>
        <th colspan="1">BDI</th>
        <th colspan="1">PREÇO COM BDI</th>
        <th colspan="1">VALOR TOTAL</th>
      </tr>

      <tr style="background-color: #F8CBAD;">
        <th></th>
        <th></th>
        <th colspan="17">Item a medir</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <!-- Nível 1: Boletins principais -->
      <ng-container *ngFor="let boletim of dataSource">
        <!-- Itera sobre os itens principais -->
        <tr class="item-principal">
          <td>{{ boletim.numero }}</td>
          <td>{{ boletim.codigoAta }}</td>
          <td colspan="17">{{ boletim.descricao }}</td>
          <td>{{ boletim.quantidade }}</td>
          <td>{{ boletim.unidade }}</td>
          <td>{{ boletim.precoSemBdi ? ('R$ ' + boletim.precoSemBdi) : '' }}</td>
          <td>{{ boletim.bdi ? boletim.bdi + '%' : '' }}</td>
          <td>{{ boletim.precoComBdi ? ('R$ ' + boletim.precoComBdi.toFixed(2)) : '' }}</td>
          <td>{{ boletim.valorTotal ? ('R$ ' + boletim.valorTotal.toFixed(2)) : '' }}</td>
        </tr>

        <!-- Nível 2: SubBoletins -->
        <!-- <ng-container *ngFor="let subBoletim of boletim.subBoletins"> -->
          <!-- <tr class="sub-boletim">
            <td>{{ subBoletim.numero }}</td>
            <td>{{ subBoletim.codigoATA }}</td>
            <td colspan="17">{{ subBoletim.descricao }}</td>
            <td>{{ subBoletim.quantidade }}</td>
            <td>{{ subBoletim.unidade }}</td>
            <td>{{ subBoletim.precoSemBDI ? ('R$ ' + subBoletim.precoSemBDI.toFixed(2)) : '' }}</td>
            <td>{{ subBoletim.bdi ? (subBoletim.bdi * 100).toFixed(2) + '%' : '' }}</td>
            <td>{{ subBoletim.precoComBDI ? ('R$ ' + subBoletim.precoComBDI.toFixed(2)) : '' }}</td>
            <td>{{ subBoletim.valorTotal ? ('R$ ' + subBoletim.valorTotal.toFixed(2)) : '' }}</td>
          </tr> -->

          <!-- Nível 3: Subitens -->
          <!-- <ng-container *ngFor="let subItem of subBoletim.subitens">
            <tr class="subitem">
              <td>{{ subItem.numero }}</td>
              <td>{{ subItem.codigoATA }}</td>
              <td colspan="17">{{ subItem.descricao }}</td>
              <td>{{ subItem.quantidade }}</td>
              <td>{{ subItem.unidade }}</td>
              <td>{{ subItem.precoSemBDI ? ('R$ ' + subItem.precoSemBDI.toFixed(2)) : '' }}</td>
              <td>{{ subItem.bdi ? (subItem.bdi * 100).toFixed(2) + '%' : '' }}</td>
              <td>{{ subItem.precoComBDI ? ('R$ ' + subItem.precoComBDI.toFixed(2)) : '' }}</td>
              <td>{{ subItem.valorTotal ? ('R$ ' + subItem.valorTotal.toFixed(2)) : '' }}</td>
            </tr>
          </ng-container> -->
        </ng-container>
      <!-- </ng-container> -->

      <tr>
        <td style="background-color: #ffffff;" colspan="23" class="highlight">VALOR TOTAL DA MEDIÇÃO:</td>
        <td style="background-color: #df0101;" colspan="2" class="highlight">R$ {{ this.valorTotalMedicao.toFixed(2) }}</td>
      </tr>
    </tbody>
  </table>
  <tfoot class="signature-section">

    <div class="signature-contratante">
      <p>_______________________________________</p>
      <p> {{this.nomeUnidade}}</p>
    </div>

    <div class="signature-contratada">
      <p>_______________________________________</p>
      <p>OBJETIVA PROJETOS E SERVIÇOS LTDA</p>
      <p>CNPJ: 12.345.678/0001-90</p>
    </div>
  </tfoot>
</div>
<!-- Botão para gerar PDF -->
<button (click)="generatePDF()">Gerar PDF</button>
