.styled-table {
    width: 90%;
    bottom: 30px;
    margin: 50px auto;
    border-collapse: collapse;

    tr {
        page-break-inside: avoid; // Evita que quebre no meio de uma linha da tabela
    }
}

.styled-table th,
.styled-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.header-logo-title {
    background-color: #d9eaf7;
    text-align: left;
}

.logo-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}

.logo {
    height: 50px;
    margin-right: 16px;
}

.title-container {
    margin: 0 auto;
    text-align: center;
}

.title-container h2 {
    margin: 0;
    font-size: 18px;
}

.title-container h4 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

.main-title {
    font-weight: bold;
    font-size: 16px;
}

.summary {
    text-align: center;
    vertical-align: middle;
}

.consultancy-header {
    text-align: center;
    vertical-align: middle;
}

.bdi {
    text-align: center;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.footer-header {
    background-color: #d9eaf7;
    font-weight: bold;
}

button {
    display: block;
    margin: 0 auto;
    padding: 15px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: #0056b3;
    }
}

.item-principal {
    background-color: #F8CBAD;
    /* Cor de destaque */
    font-weight: bold;
}

.sub-boletim {
    background-color: #F8CBAD;
    /* Cor de destaque */
    font-weight: bold;
}

.subitem {
    background-color: #fff;
}

.signature-section {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 25px 25px 10px 15px;
    margin: 25px;
    font-size: large;

    p {
        margin: 1px;
    }

}

@media print {
    .styled-table {
        page-break-after: always;
    }

    tr {
        page-break-inside: avoid;
    }
}