<div class="aprovacoes-body">
  <mat-card class="card-content">
    <mat-card-header><span>Aprovações</span></mat-card-header>
    <div >
      <h3>Informe um contrato para exibir as medições</h3>            
      <mat-form-field style="margin-left: 5px;" >
        <mat-label>Selecione o contrato</mat-label>
        <mat-select disableRipple [(ngModel)]="contratoSelecionado">
          <mat-option *ngFor="let contrato of listaContratos" [value]="contrato.idContrato" >{{contrato.numeroContrato}}</mat-option>
        </mat-select>
      </mat-form-field>  
      
        <button mat-button style="background-color:royalblue; color: white; margin-left: 10px;margin-top: -10px; " [style.display]="contratoSelecionado > 0 ? '' : 'none'" (click)="buscar(contratoSelecionado)">Buscar</button>
    </div>  

    <div style="gap: 5%;" [style.display]="showProjetos ? 'flex' : 'none'" >        

      <mat-card class="card-content-aprovacoes" *ngFor="let projeto of listaProjetos">
        <mat-card-header><span style="font-size: 15px;">{{projeto.nomeProjeto}}</span></mat-card-header>
        <ul>
          <li>
            <span >Medição 1</span>
            <span matTooltip="Aprovar Medição" style="cursor: pointer; margin-left:10px;" >
              <mat-icon style="font-size: 15px;height: auto; width: auto;">done_outline</mat-icon>
            </span>
            <span matTooltip="Recusar Medição" style="cursor: pointer;margin-left: 5px;" >
              <mat-icon style="font-size: 15px;height: auto; width: auto;">highlight_off</mat-icon>
            </span>
            <span matTooltip="Recusar Medição" style="cursor: pointer;margin-left: 5px;" >
              <mat-icon style="font-size: 15px;height: auto; width: auto;">cloud_download</mat-icon>
            </span>
          </li>
          <li>
            <span >Medição 2</span>
            <span matTooltip="Aprovar Medição" style="cursor: pointer;margin-left:10px;" >
              <mat-icon style="font-size: 15px;height: auto; width: auto;">done_outline</mat-icon>
            </span>
            <span matTooltip="Recusar Medição" style="cursor: pointer; margin-left: 5px;" >
              <mat-icon style="font-size: 15px;height: auto; width: auto;">highlight_off</mat-icon>
            </span>
            <span matTooltip="Recusar Medição" style="cursor: pointer;margin-left: 5px;" >
              <mat-icon style="font-size: 15px;height: auto; width: auto;">cloud_download</mat-icon>
            </span>
          </li>
          <li>
            <span >Medição 3</span>
            <span matTooltip="Aprovar Medição" style="cursor: pointer;margin-left:10px;" >
              <mat-icon style="font-size: 15px;height: auto; width: auto;">done_outline</mat-icon>
            </span>
            <span matTooltip="Recusar Medição" style="cursor: pointer;margin-left: 5px;" >
              <mat-icon style="font-size: 15px;height: auto; width: auto;">highlight_off</mat-icon>
            </span>
            <span matTooltip="Recusar Medição" style="cursor: pointer;margin-left: 5px;" >
              <mat-icon style="font-size: 15px;height: auto; width: auto;">cloud_download</mat-icon>
            </span>
          </li>
        </ul>
      </mat-card>

    </div>
  </mat-card>
</div>

