<div class="contratos-body">
  <mat-card class="card-content">
      <mat-card-header><span>Empresa</span></mat-card-header>
      <mat-card-content>
        <div style="margin-top: 10px;">
          <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
          </mat-form-field>

          <button mat-button mat-stroked-button style="background-color:royalblue; color: white; margin-left: 10px;margin-top: -8px;" (click)="openDialog()">
            <span>Adicionar Empresa
            </span>
              <mat-icon>add</mat-icon>
          </button>
        </div>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
        
            <ng-container matColumnDef="empresaId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
              <td mat-cell *matCellDef="let row"> {{row.empresaId}} </td>
            </ng-container>
        
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </th>
              <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
            </ng-container>
        
            <ng-container matColumnDef="cnpj">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cnpj </th>
              <td mat-cell *matCellDef="let row"> {{row.cnpj}} </td>
            </ng-container>

            <ng-container matColumnDef="logo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Logo </th>
              <td mat-cell *matCellDef="let row"> 
                <img src="{{row.logo}}" width="90">
              </td>
            </ng-container>     

            <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                  <span matTooltip="Remover" (click)="deleteEmpresa(row.empresaId)" class="hoverMouse">
                    <mat-icon>delete</mat-icon>
                  </span>
                  <span style="margin-left: 5px;" matTooltip="Editar" (click)="editEmpresa(row)" class="hoverMouse">
                    <mat-icon>edit</mat-icon>
                  </span>
              </td>
              
          </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Nenhum resultado encontrado para o filtro "{{input.value}}"</td>
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
      </mat-card-content>
  </mat-card>
</div>